
html,body{
	height: 100%;
	margin: 0;

}
body{
	background: #f2f0e6;
}

#chartForm{
	color: white;
}


.abc{
	padding: 50px 50px 50px 50px;
	background-color: #ffede8;
	color: grey;

}

.graph{
	padding-top: 200px;
	padding: 50px 50px 50px 50px;
		background-color: #f47142;
	color: white;
}

h3{
	color: #27204c;
}

.container{
	padding-bottom: 30px;
}

.navbar .container{
	padding-bottom: 0px;
}

.cover{
	 color: #f2f0e6;"
}

#loginBody {
	padding-top: 5%;
	background-color: #e0e1e2;
	height: 100%;
}

#loginContainer {
	background-color: #f9f9f9;
	width: 500px;
	padding: 5px 5px 5px;
}

#signupForm{
	color: white;
}


footer{
	background-color: #42403f;
	color: white;

}

.form-group textarea{
	height:60px;
	resize: none;
}



